body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
}
.wrapper {
    height: 100px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
